<div class="container">

    {{cliente | json}}
    
    <div *ngIf="usuarioForm.invalid && usuarioForm.dirty" class="alert alert-danger">
        Preencha todos os campos corretamente.
    </div>

    <form autocomplete="off" #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)" >
        <div class="form-group">
            <label class="form-control-label">Nome</label>
            <input type="text" class="form-control" name="nome" 
                [(ngModel)]="cliente.nome" required minlength="10" #nome="ngModel">

            <!--Touched: {{nome.touched}} <br>
            Pristine: {{nome.pristine}} <br>
            Dirty: {{nome.dirty}} <br>
            -->
            
            <div *ngIf="nome.hasError('required') && nome.touched" >Informe um nome</div>
            <div *ngIf="nome.hasError('minlength') && nome.touched">O nome deve ser completo</div>

        </div><!--form-group-->

        <div class="form-group">
            <label class="form-control-label">E-mail</label>
            <input type="text" class="form-control" name="email" 
            [(ngModel)]="cliente.email" email required #email="ngModel">
        
            <div *ngIf="email.invalid && email.touched">Informe um e-mail válido</div>
        </div><!--form-group-->

        <div class="form-group">
            <label class="form-control-label">Profissão</label>
            
            <select class="form-control" name="profissao" [(ngModel)]="cliente.profissao" required #profissao="ngModel">
                <option value="">Selecione</option>
                <option *ngFor="let profissao of profissoes" [value]="profissao">{{profissao}}</option>
                
            </select><!--form-group-->
            <div *ngIf="profissao.invalid && profissao.touched">Informe uma profissão</div>

        </div><!--form-group-->
        
        <button type="submit" class="btn btn-primary" 
        [disabled]="!usuarioForm.valid">Salvar</button>
    </form>


</div><!--container-->