<div class="container">
    <div class="ui-g">
  
        <div class="ui-g-12">
          <h1>Lançamentos</h1>
        </div>
  
  
        <div class="ui-g-12 ui-fluid">
          <label>Descrição</label>
          <input type="text" pInputText>
        </div>
  
        <div class="ui-g-12">
            <label style="display:block;">Vencimentos</label>
            <input type="text" pInputText style="width:95px;">
  
            <label>até</label>
            <input type="text" pInputText style="width:95px;">
        </div>
  
        <div class="ui-g-12">
          <button type="submit" pButton label="Pesquisar"></button>
        </div>
  
  
    </div>
  
    <!--
    <ul> 
      <li *ngFor="let l of lancamentos">
        {{l.pessoa}}
      </li>
    </ul>
    -->
    
    
    <div class="ui-g">
      <div class="ui-g-12">  
          <app-lancamentos-grid [lancamentos]="lancamentos"></app-lancamentos-grid>
      </div>
    </div>
  
  
  
    <div class="ui-g-12">
       <a pButton icon="pi pi-plus" pTooltip="Novo" tooltipPosition="top"></a>
    </div>
  
  </div>