<div class="container">
    <div class="ui-g">
  
      <form autocomplete="off" (ngSubmit)="pesquisar()">  

          <div class="ui-g-12">
            <h1>Lançamentos</h1>
          </div>


          <div class="ui-g-12 ui-fluid">
            <label>Descrição</label>
            <input type="text" pInputText name="descricao" [(ngModel)]="filtro.descricao">
          </div>

          <div class="ui-g-12">
              <label style="display:block;">Vencimentos</label>
              <p-calendar dataFormat="dd/mm/yy" [inputStyle]="{ width:'95px' }"
                name="vencimentoInicio" [(ngModel)]="filtro.dataVencimentoInicio"></p-calendar>

              <label>até</label>
              <p-calendar dataFormat="dd/mm/yy" [inputStyle]="{ width:'95px' }"
                name="vencimentoFim" [(ngModel)]="filtro.dataVencimentoFim"></p-calendar>
          </div>

          <div class="ui-g-12">
            <button type="submit" pButton label="Pesquisar"></button>
          </div>

      </form>
  
  
    </div>
  
    <!--
    <ul> 
      <li *ngFor="let l of lancamentos">
        {{l.pessoa}}
      </li>
    </ul>
    -->
    
    
    <div class="ui-g">
      <div class="ui-g-12">  

        <!-- 
        <ul> 
          <li *ngFor="let l of lancamentos">
            {{l.codigo}}
            {{l.categoria}}
            {{l.pessoa}}
            {{l.descricao}}
            {{l.dataVencimento}}
            {{l.dataPagamento}}
            {{l.tipo}}
            {{l.valor}}
           </li>
        </ul>
        -->
          
         
        <p-table [value]="lancamentos" [responsive]="true"
          emptyMessage="Nenhum lançamento encontrado"
          [paginator]="true" [rows]="filtro.itensPorPagina"
          [lazy]="true" [totalRecords]="totalRegistros"
          (onLazyLoad)="aoMudarPagina($event)" #tabela>
            <ng-template pTemplate="header">
                <tr>
                    <th>Pessoa</th>
                    <th>Descricao</th>
                    <th>Data Vencimento</th>
                    <th>Data Pagamento</th>
                    <th>Valor</th>
                    <th>Acoes</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-lanc>
                <tr>
                    <td>{{lanc.pessoa}}</td>
                    <td>{{lanc.descricao}}</td>
                    <td><span>{{ lanc.dataVencimento }}</span></td>
                    <td><span>{{ lanc.dataPagamento }}</span></td>
                    <td><span [style.color]="lanc.tipo === 'DESPESA' ? 'red' : 'blue'">{{ lanc.valor | number:'1.2-2' }}</span></td>
                    <td>
                        <a style="margin-right:2px" pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                        [routerLink]="['/lancamentos',lanc.codigo]"
                        ></a>
                        <button 
                            pButton icon="pi pi-trash" 
                            pTooltip="Excluir" 
                            tooltipPosition="top"
                            (click)="confirmarExclusao(lanc)">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
      </div>
    </div>

    <div class="ui-g-12">
       <a pButton icon="pi pi-plus" pTooltip="Novo" tooltipPosition="top" routerLink="/lancamentos/novo"></a>
    </div>
  
  </div>