<nav class="navbar">
    
    <div class="container">
        <div class="ui-g">
            <div class="ui-g-12">
                <a href="javascript:;" class="navbar-toogle" (click)="exibindoMenu =! exibindoMenu"><i class="pi pi-bars"></i></a>
            </div>
        </div>
    </div>


    <!--Testei e posso esconder tudo de acordo com os valores do payLoad-->
    <ul class="navbar-menu" [hidden]="!exibindoMenu">
        <li class="navbar-usuario">{{ auth.jwtPayLoad?.user_name}}</li>
        <li class="navbar-menuitem" routerLinkActive="ativo" 
            *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')" ><a routerLink="/dashboard">Dashboard</a></li>
        <li class="navbar-menuitem" routerLinkActive="ativo" 
            *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')" ><a routerLink="/lancamentos">Lançamentos</a></li>
        <li class="navbar-menuitem" routerLinkActive="ativo"
            *ngIf="auth.temPermissao('ROLE_PESQUISAR_PESSOA')"><a routerLink="/pessoas">Pessoas</a></li>
        <li class="navbar-menuitem" routerLinkActive="ativo"
            *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')"><a routerLink="/relatorios/lancamentos">Relatório</a></li>
        <li class="navbar-menuitem"><a href="#" (click)="logout()" >Logout</a></li>
    </ul>
        


</nav>
