<div class="container" style="max-width: 400px; margin: auto">

    {{ authService.jwtPayLoad | json }}
    <!--Continuar de 6:27-->
    <form #f="ngForm" autocomplete="off">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <h1>Login</h1>
            </div>

            <div class="ui-g-12">
                <input pInputText type="email" name="usuario" placeholder="E-mail"
                    ngModel required #usuario autofocus>
            </div>

            <div class="ui-g-12">
                <input pInputText type="password" name="senha" placeholder="Senha"
                    ngModel required #senha>
            </div>

            <div class="ui-g-12">
                <button pButton type="submit" label="Login" [disabled]="!f.valid"
                    (click)="login(usuario.value, senha.value); f.reset(); usuario.focus()"></button>
            </div>
        </div>
        
    </form> 


</div><!--Fim da Div Container-->


