<div class="container">
    <form #f="ngForm" autocomplete="off" (submit)="salvar(f)">
        
        <div class="ui-g-12">
            <h1>{{ editando ? 'Edição de ':'Nova ' }} Pessoa</h1>
        </div><!--ui-g-12-->

        <div class="ui-g-12 ui-fluid "><!--Nome-->
            <label>Nome</label>
            <input type="text" pInputText name="nome"
                [(ngModel)]="pessoa.nome" 
                #nome="ngModel" 
                required minlength="6" />
            <!--Div de Validação de Campo-->
            <app-message 
                [control]="nome" 
                error="required"
                text="Informe o nome">
            </app-message>

            <app-message 
                [control]="nome" 
                error="minlength"
                text="Mínimo de {{nome.errors?.minlength?.requiredLength}} caracteres ">
            </app-message>
            <!--Fim da Div de Validação de Campo-->


        </div><!--ui-g-12--><!--Fim do Nome-->

        <div class="ui-g-12 ui-md-9 ui-fluid"><!--Logradouro-->
            <label>Logradouro</label>
            <input type="text" pInputText name="logradouro" 
                [(ngModel)]="pessoa.endereco.logradouro" 
                #logradouro="ngModel" 
                required minlength="10" />
            <!--Div de Validação de Campo-->
            <app-message 
                [control]="logradouro" 
                error="required"
                text="Informe o Logradouro">
            </app-message>
            <!--Fim da Div de Validação de Campo-->
        
        </div><!--Fim do Logradouro-->

        
        <div class="ui-g-12 ui-md-3 ui-fluid"><!--Número-->
            <label>Número</label>
            <input type="text" pInputText name="numero" 
                [(ngModel)]="pessoa.endereco.numero" 
                #numero ="ngModel" required minlength="2"/>

            <!--Div de Validação de Campo-->
            <app-message 
                [control]="numero" 
                error="required"
                text="Informe o Número">
            </app-message>  
            <!--Fim da Div de Validação de Campo-->

        </div><!--Fim do Número-->
        

        <div class="ui-g-12 ui-md-4 ui-fluid"><!--Complemento-->
            <label>Complemento</label>
            <input type="text" pInputText name="complemento"
                [(ngModel)]="pessoa.endereco.complemento" 
                #complemento="ngModel" />
            
        </div><!--Fim do Complemento-->

        <div class="ui-g-12 ui-md-4 ui-fluid"><!--Bairro-->
            <label>Bairro</label>
            <input type="text" pInputText name="bairro" 
                [(ngModel)]="pessoa.endereco.bairro" 
                #bairro="ngModel"
                required minlength="6" />

                <!--Div de Validação de Campo-->
                <app-message 
                    [control]="bairro" 
                    error="required"
                    text="Informe o bairro">
                </app-message>

                <app-message 
                    [control]="bairro" 
                    error="minlength"
                    text="Mínimo de {{bairro.errors?.minlength?.requiredLength}} caracteres ">
                </app-message>
                <!--Fim da Div de Validação de Campo-->

        </div><!--Fim do Bairro-->

        <div class="ui-g-12 ui-md-4 ui-fluid"><!--Cep-->
            <label>CEP</label>
            <p-inputMask mask="99.999-999" name="cep" 
                [(ngModel)]="pessoa.endereco.cep" 
                #cep="ngModel" required></p-inputMask>

            <!--Div de Validação do Campo-->
                <app-message 
                    [control]="cep" 
                    error="required"
                    text="Informe o cep">
                </app-message>
            <!--Fim da Div de Validação do Campo-->


        </div><!--Fim do Cep-->

        <div class="ui-g-12 ui-md-6 ui-fluid"><!--Cidade-->
            <label>Cidade</label>
            <input type="text" pInputText name="cidade" 
                [(ngModel)]="pessoa.endereco.cidade" 
                #cidade="ngModel" required minlength="5" />

            <!--Div de Validação de Campo-->
            <app-message 
                [control]="cidade" 
                error="required"
                text="Informe a cidade">
            </app-message>

            <app-message 
                [control]="cidade" 
                error="minlength"
                text="Mínimo de {{cidade.errors?.minlength?.requiredLength}} caracteres ">
            </app-message>
            <!--Fim da Div de Validação de Campo-->


        </div><!--Fim da Cidade-->

        <div class="ui-g-12 ui-md-6 ui-fluid"><!--Estado-->
            <label>Estado</label>
            <input type="text" pInputText name="estado" 
                [(ngModel)]="pessoa.endereco.estado" 
                #estado="ngModel" required minlength="2" maxlength="2" />

            <!--Div de Validação de Campo-->
            <app-message 
                [control]="estado" 
                error="required"
                text="Informe o estado">
            </app-message>

            <app-message 
                [control]="estado" 
                error="minlength"
                text="Mínimo de {{estado.errors?.minlength?.requiredLength}} caracteres ">
            </app-message>
            <!--Fim da Div de Validação de Campo-->

        </div><!--Fim do Estado-->

        <div class="ui-g-12">
            <button pButton type="submit" label="Salvar" [disabled]="f.invalid" style="margin:5px;"></button>
            <button pButton type="button" label="Novo" class="ui-button-info" style="margin:5px;" (click)="novo(f)"></button>
            <a routerLink="/pessoas">Voltar para a pesquisa</a>
        
        </div><!--ui-g-12-->

    </form>
</div><!--container-->