<div class="container">
    <form autocomplete="off">
        
        <div class="ui-g-12">
            <h1>Nova Pessoa</h1>
        </div><!--ui-g-12-->

        <div class="ui-g-12 ui-fluid "><!--Nome-->
            <label>Nome</label>
            <input type="text" pInputText />
        </div><!--ui-g-12--><!--Fim do Nome-->

        <div class="ui-g-12 ui-md-9 ui-fluid"><!--Logradouro-->
            <label>Logradouro</label>
            <input type="text" pInputText>
        </div><!--Fim do Logradouro-->

        <div class="ui-g-12 ui-md-3 ui-fluid"><!--Número-->
            <label>Número</label>
            <input type="text" pInputText>
        </div><!--Fim do Número-->

        <div class="ui-g-12 ui-md-4 ui-fluid"><!--Complemento-->
            <label>Complemento</label>
            <input type="text" pInputText>
        </div><!--Fim do Complemento-->

        <div class="ui-g-12 ui-md-4 ui-fluid"><!--Bairro-->
            <label>Bairro</label>
            <input type="text" pInputText>
        </div><!--Fim do Bairro-->

        <div class="ui-g-12 ui-md-4 ui-fluid"><!--Cep-->
            <label>CEP</label>
            <p-inputMask mask="99.999-999"></p-inputMask>
        </div><!--Fim do Cep-->

        <div class="ui-g-12 ui-md-6 ui-fluid"><!--Cidade-->
            <label>Cidade</label>
            <input type="text" pInputText>
        </div><!--Fim da Cidade-->

        <div class="ui-g-12 ui-md-6 ui-fluid"><!--Cep-->
            <label>Estado</label>
            <input type="text" pInputText>
        </div><!--Fim do Cep-->

        <div class="ui-g-12">
            <button pButton type="submit" label="Salvar" style="margin:5px;"></button>
            <button pButton type="button" label="Novo" class="ui-button-info" style="margin:5px;"></button>
            <a href="javascript:;">Voltar para a pesquisa</a>
        
        </div><!--ui-g-12-->

    </form>
</div><!--container-->